---
import ContactSection from '../components/ContactSection.astro'
import FAQList from '../components/FAQList.astro'
import Layout from '../layouts/Layout.astro'
import faqs from '../data/faqs.json'
---

<Layout title="FAQs">
  <div id="faqs" class="section">
    <div class="container">
      <h1 class="topper">FAQs</h1>
      <h2 class="h2 heading has-underline">Do You Have Any Questions?</h2>

      <FAQList faqs={faqs} tag="h3" />
    </div>
  </div>

  <ContactSection />
</Layout>

<style lang="scss">
  #faqs {
    background-color: var(--colour-primary);
  }

  .topper {
    font-style: italic;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: rgba(var(--rgb-colour-text-base), 0.66);
  }

  .heading {
    font-size: 1.75rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
</style>
