---
import Benefits from '../components/Home/Benefits.astro'
import Hero from '../components/Home/Hero.astro'
import Services from '../components/Home/Services.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home">
  <Hero />
  <Benefits />
  <Services />
  <div style="height: 2000px;"></div>
</Layout>
