---
import Button from '../Button.astro'
import ContactForm from '../ContactForm.astro'
import WhatsAppIcon from '../WhatsAppIcon.astro'

const steps = [
  {
    number: '1',
    heading: 'Reach Out',
    body: 'Call, text, or fill out the contact form below. I respond to all messages within 1 business day— no waiting weeks for an answer.',
  },
  {
    number: '2',
    heading: 'Free, No-Pressure Chat',
    body: "We'll talk about your needs and how I can help. No scripts, no sales pitch — just honest advice tailored to you.",
  },
  {
    number: '3',
    heading: 'Book Your First Visit',
    body: "Once we've agreed on a plan, we'll schedule a day to begin. (Minimum 2-hour visits to ensure meaningful support.)",
  },
]
---

<section id="contact" class="section">
  <div class="container">
    <p class="topper">Contact Me</p>
    <h2 class="h2 heading has-underline">Get In Touch!</h2>

    <div class="steps">
      {
        steps.map((step) => (
          <div class="step">
            <p class="step-number">{step.number}</p>
            <p class="step-heading">{step.heading}</p>
            <p class="step-body">{step.body}</p>
          </div>
        ))
      }
    </div>

    <ContactForm show:heading />
  </div>
</section>

<style lang="scss">
  #contact {
    background:
      url('../../assets/images/contact-background.svg') top left/1440px 50px
        repeat,
      linear-gradient(var(--colour-primary), var(--colour-primary));
  }

  .topper {
    font-style: italic;
    color: rgba(var(--rgb-colour-text-base), 0.66);
  }

  .heading {
    font-size: 1.75rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
  }

  .steps {
    display: none;
  }

  .step {
    --step-padding: 2rem;
    --step-number-font-size: 6.375rem;

    background-color: #f8f9f7;
    border-radius: 100px;
    padding: var(--step-padding);
    position: relative;
    margin-top: calc(var(--step-number-font-size) / 2);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
  }

  .step-number {
    text-align: center;
    color: #a5aca6;
    font-size: var(--step-number-font-size);
    font-family: var(--font-family-headings);
    line-height: 1;
    margin-top: calc(
      -1 * var(--step-padding) - var(--step-number-font-size) / 2
    );
  }

  .step-heading {
    text-align: center;
    font-weight: 700;
    font-family: var(--font-family-headings);
    font-size: 1.125rem;
  }

  .step-body {
    text-align: justify;
    margin-top: 0.5rem;
  }

  @media only screen and (min-width: 64rem) {
    .steps {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
