---
import { url } from '../../utils'
import ArrowRight from '../ArrowRight.astro'
import FAQList from '../FAQList.astro'
import faqs from '../../data/faqs.json'
---

<section id="faqs" class="section">
  <div class="container">
    <p class="topper">FAQs</p>
    <h2 class="h2 heading has-underline">Do You Have Any Questions?</h2>

    <FAQList faqs={faqs.filter((faq) => faq.featured)} tag="h3" />

    <a href={url('/faqs/')} class="link primary-link">
      <span>Read All of Our FAQs</span>
      <ArrowRight />
    </a>
  </div>
</section>

<style lang="scss">
  #faqs {
    background-color: var(--colour-primary);
    padding-top: 0;
  }

  .topper {
    font-style: italic;
    color: rgba(var(--rgb-colour-text-base), 0.66);
  }

  .heading {
    font-size: 1.75rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
  }

  .link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
  }
</style>
