---
import { Image } from 'astro:assets'
import ArrowRight from '../ArrowRight.astro'
import Button from '../Button.astro'
import LocationMarker from '../LocationMarker.astro'
import CheckmarkListMarker from '../CheckmarkListMarker.astro'
---

<header class="section">
  <div class="container">
    <div class="column">
      <div>
        <p class="topper">Welcome to Maggi Maid</p>
        <h1 class="h1 heading has-underline">
          Trusted Home Care and Support For Independent Adults
        </h1>
        <p class="subheading">
          I understand the challenges of home care. With personal caregiving
          experience, I provide compassionate, trustworthy support that makes a
          real difference.
        </p>
        <div class="location">
          <LocationMarker class="location-marker" />
          <p class="location-text">Bradford and Surrounding Areas</p>
        </div>
        <Button variant="primary" class="cta">
          <span>Get In Touch</span>
          <ArrowRight />
        </Button>
      </div>
    </div>

    <div class="column">
      <div class="images">
        <div class="has-dots-before">
          <Image
            src={import('../../assets/images/hero-image-1.png')}
            alt="A senior lady smiling and talking with her companion."
            widths={[166, 344]}
            sizes="(max-width: 767px) 50vw, 25vw"
            loading="eager"
            class="image-1"
          />
        </div>
        <div class="has-dots-after">
          <Image
            src={import('../../assets/images/hero-image-2.png')}
            alt="A senior lady enjoying Christmas celebrations."
            widths={[166, 344]}
            sizes="(max-width: 767px) 50vw, 25vw"
            loading="eager"
            class="image-2"
          />
        </div>
      </div>

      <ul class="benefits">
        <li>
          <CheckmarkListMarker />
          <span class="text">Fully qualified and DBS checked</span>
        </li>
        <li>
          <CheckmarkListMarker />
          <span class="text">30+ Years of childminding experience</span>
        </li>
        <li>
          <CheckmarkListMarker />
          <span class="text">Devoted to caring for your loved one at home</span>
        </li>
      </ul>
    </div>
  </div>
</header>

<style lang="scss">
  @media only screen and (min-width: 0rem) {
    header {
      background-color: var(--colour-primary);
      padding-top: 1.5rem;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }

    .topper {
      font-style: italic;
      color: rgba(var(--rgb-colour-text-base), 0.66);
    }

    .heading {
      position: relative;
      margin-top: 0.5rem;
      padding-bottom: 0.75rem;
      font-size: 2rem;
    }

    .subheading {
      margin-top: 2.5rem;
    }

    .location {
      margin-top: 1rem;
      display: flex;
      align-items: top;
      gap: 0.5rem;
    }

    .location-marker {
      color: rgba(var(--rgb-colour-accent), 0.73);
    }

    .location-text {
      color: rgba(var(--rgb-colour-text-base), 0.66);
      font-style: italic;
    }

    .cta {
      margin-top: 1.5rem;
    }

    .images {
      display: flex;
      align-items: start;
      position: relative;
      padding: 0.75rem;
      gap: calc(var(--spacing-sections) / 2);

      img {
        position: relative;
        border-radius: 9999px;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
        flex: 1;
      }

      .image-2 {
        margin-top: 2.5rem;
      }
    }

    .benefits {
      position: relative;
      margin-top: 1rem;
      list-style-type: none;
      color: rgba(var(--rgb-colour-text-base), 0.66);
      font-style: italic;
    }
  }

  @media only screen and (min-width: 28rem) {
    .heading {
      font-size: 2.5rem;
    }
  }

  @media only screen and (min-width: 36rem) {
    .benefits {
      margin-top: -2rem;
    }
  }

  @media only screen and (min-width: 48rem) {
    .container {
      flex-direction: row;
      align-items: center;
      gap: calc(var(--spacing-sections) / 1);
    }

    .column {
      flex: 1;
    }

    .heading {
      font-size: 2.25rem;
    }

    .benefits {
      margin-top: 2rem;
    }
  }

  @media only screen and (min-width: 64rem) {
    .column:first-child {
      min-width: 480px;

      & > div {
        max-width: 30rem;
      }
    }

    .benefits {
      margin-top: -1.5rem;
    }
  }
</style>
