@media only screen and (min-width: 0rem) {
  .container {
    max-width: 76rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .section {
    padding-block: var(--spacing-sections);
  }
}

@media only screen and (min-width: 48rem) {
  .container {
    padding-inline: 2rem;
  }
}
