---
import type { HTMLAttributes } from 'astro/types'

type BaseProps = {
  variant: 'primary' | 'primary-outlined' | 'tertiary' | 'quaternary'
}

type Props = (
  | ({
      'is:link'?: false
    } & HTMLAttributes<'button'>)
  | ({
      'is:link': true
    } & HTMLAttributes<'link'>)
) &
  BaseProps

const { variant, 'is:link': isLink = false, class: _, ...props } = Astro.props
---

{
  isLink ? (
    <a
      {...props}
      data-variant={variant}
      class:list={[Astro.props.class, 'btn']}
    >
      <slot />
    </a>
  ) : (
    <button
      {...props}
      data-variant={variant}
      type="button"
      class:list={[Astro.props.class, 'btn']}
    >
      <slot />
    </button>
  )
}

<style lang="scss">
  .btn {
    --border-width: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-weight: 600;
    border-radius: 10px;
    border-style: solid;
    border-width: var(--border-width);
    padding: calc(0.5rem - var(--border-width))
      calc(1.5rem - var(--border-width));
    cursor: pointer;
    transition: background-color 300ms ease;

    &[data-variant='primary'] {
      background-color: var(--colour-accent);
      color: var(--colour-primary);

      &:hover {
        background-color: var(--colour-accent-hover);
      }

      &:active {
        background-color: var(--colour-accent-active);
      }
    }

    &[data-variant='primary-outlined'] {
      --border-width: 1px;

      background-color: transparent;
      border-color: var(--colour-accent);
      color: var(--colour-accent);

      &:hover {
        background-color: rgba(var(--rgb-colour-accent), 0.1);
      }

      &:active {
        background-color: rgba(var(--rgb-colour-accent), 0.25);
      }
    }

    &[data-variant='tertiary'] {
      background-color: #14281d;
      color: var(--colour-primary);

      &:hover {
        background-color: rgba(20, 40, 29, 0.75);
      }

      &:active {
        background-color: rgba(20, 40, 29, 0.5);
      }
    }

    &[data-variant='quaternary'] {
      background-color: #eceee9;
      color: #14281d;

      &:hover {
        background-color: rgba(236, 238, 233, 0.75);
      }

      &:active {
        background-color: rgba(236, 238, 233, 0.5);
      }
    }
  }
</style>
