<span class="checkmark">✓</span>

<style lang="scss">
  .checkmark {
    color: rgba(var(--rgb-colour-accent), 0.73);
    font-weight: 700;
    font-size: 1.1em;
    margin-right: 0.25rem;
  }
</style>
