---
import type { HTMLAttributes } from 'astro/types'
import ContactForm from './ContactForm.astro'

interface Props extends HTMLAttributes<'section'> {}

const { class: _, ...props } = Astro.props
---

<section {...props} id="contact" class:list={[Astro.props.class, 'section']}>
  <div class="container">
    <p class="topper">Contact Me</p>
    <h2 class="h2 heading has-underline">Get In Touch!</h2>

    <ContactForm class="contact-form" />
  </div>
</section>

<style lang="scss">
  .topper {
    font-style: italic;
    color: rgba(var(--rgb-colour-text-base), 0.66);
  }

  .heading {
    font-size: 1.75rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
  }

  .contact-form {
    margin-top: 3rem;
  }
</style>
